* {
  font-family: "Symbols Nerd Font Mono", monospace;
  font-size: 12px;
  border-radius: 0;
  min-height: 0;
  margin: 0px;
  border: none;
  font-weight: 600;
}

#waybar {
  background-color: transparent;
}

#custom-launcher,
#clock,
#idle_inhibitor,
#custom-lock,
#tray,
#mpris,
#network,
#battery,
#bluetooth,
#wireplumber,
#backlight,
#custom-notification {
  border-radius: 8px;
  margin: 0px 2px;
  color: #b6bad6;
}

#custom-launcher,
#clock,
#idle_inhibitor,
#custom-lock,
#network,
#battery,
#bluetooth,
#wireplumber,
#backlight,
#custom-notification {
  padding: 2px 3px;
}

#tray {
  padding: 2px 5px;
}

#mpris {
  padding: 2px 8px;
}

#mpris,
#clock,
#idle_inhibitor,
#custom-lock,
#custom-wallpaper,
#tray,
#network,
#battery,
#bluetooth,
#wireplumber,
#backlight,
#custom-notification {
  background-color: #131822;
}

#custom-launcher {
  color: white;
  background-color: #5f92e4;
}

tooltip {
  border-radius: 0px;
  padding: 2px;
  background-color: #131822;
  color: #b6bad6;
}
